/*page styling*/
body {
    background-color: lightgray;
}

/* grid container styling */
#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

/*scale of the grid*/
.cell-style {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

/*change color of a cell*/
.black-hover {
    background-color: black;
}

.randomized-RGB {
    background-color: var(--randomValueSet);
}

.selected-color {

}

.gradual-opacity {
    background-color: rgba(0, 0, 0, var(--opacityLevel));
}

.white {
    background-color: white;
}