/* container styling */
#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

/*scale of the grid*/
.cell-style {
    background-color: lightgray;
    border: 1px solid black;
    box-sizing: border-box;
}

/*change color of a cell*/
.cell-color {
    background-color: black;
}